* {
    /* border: 1px solid red !important; */
}

table, th {
    /* border-radius: 4px; */
    /* clip-path: polygon(0 4px, 100% 0, 100% 100%, 0 100%); */
}

#container {
    /* margin: 120px 0 40px 0; */
    margin-top: 30px;
    width: 100vw;
}

input[type=submit] {
    /* margin: 0 !important;
    padding: 0!important; */
    color: transparent;
    border: none !important;
}

#form-error {
    display: inline-block;
    margin-top: 20px;
    /* clip-path: polygon(0 4px, 100% 0, 100% calc(100% - 4px), 0 100%); */
}

#form-error {
    display: inline-block;
    margin-top: 20px;
    /* clip-path: polygon(0 4px, 100% 0, 100% calc(100% - 4px), 0 100%); */
}

#edit {
    background-image: url('../img/edit.svg');
    position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    /* border: 1px solid red !important; */
}

#delete {
    background-image: url('../img/delete.svg');
    position: left;
    background-size: 20px;
    background-repeat: no-repeat;
    /* border: 1px solid red !important; */
}

th, td {
    text-align: center; 
    vertical-align: middle;
}

#virus {
    width: 30px;
}

.page-link {
    border: none;
}

.item {
    position: relative;
    padding-top: 20px;
    display: inline;
}
.notify-badge{
    position: absolute;
    right: -10px;
    top: 7px;
    color: white;
}
@media only screen and (max-width: 992px)  {
    table, thead, tbody, th, td, tr {
        display: block !important;
    }

    thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }

    td {
        border: none !important;
    }

    td::before {
        float: left;
    }

    label {
        display: initial;
    }

    td:nth-of-type(1):before { content: "#" !important; }
    td:nth-of-type(2):before { content: "Voornaam" !important; }
    td:nth-of-type(3):before { content: "Naam" !important; }
    td:nth-of-type(4):before { content: "Contact met coronavirus" !important; }
    td:nth-of-type(5):before { content: "Datum" !important; }
    td:nth-of-type(6):before { content: "Tijdstip" !important; }
    td:nth-of-type(7):before { content: "" !important; }
    td:nth-of-type(8):before { content: "" !important; }
}
    
