* {
    color: #282C34 !important;
    /* border: 1px solid red; */
}

form {
    margin-top: 30px;
}

#border {
    /* border: 2px solid #393E46; */
    background-color: #f5f5f51a;
    padding: 10px;
    /* border-radius: 4px; */

    /* background: linear-gradient(to bottom, #393E46, #393E46); */
    box-shadow: 0 10px 20px -20px #393E46;
}

#form-error {
    margin-top: 20px;
    /* clip-path: polygon(0 4px, 100% 0, 100% 100%, 0 100%); */
}

h2 {
    border-left: 2px solid #393E46;
    padding: 10px 0 10px 15px;
    font-size: 1.2rem;
}

h3 {
    background-color: #393E46;
    padding: 10px;
    margin: 60px 0 40px 0;
}

input {
    border: none !important;
    background-color: #393e4610 !important;
}